#body-home {
  /* margin: 0 277px; */
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #064d7e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top:hover {
  background-color: #043e5d;
}

.scroll-to-top:active {
  transform: scale(0.95);
}
