.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 60px;
}

.logo img {
  width: 70px;
  height: 70px;
}

.link, .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
}

.link, .nav-links li {
  margin: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #064d7e;
}

.nav-links li a:active

.link a {
  text-decoration: none;
  color: black;
}

.link a span {
  text-decoration: none;
}

.auth-buttons,
.user-section {
  display: flex;
  align-items: center;
}

.login-button,
.register-button,
.post-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.login-button {
  background-color: #064d7e;
  color: white;
}

.register-button {
  background-color: white;
  border: 1px solid #064d7e;
  color: #064d7e;
}

.post-button {
  background-color: #064d7e;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Hidden by default for larger screens */
}

.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Hidden by default for larger screens */
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.dropdown-menu.open {
  display: block;
  transform: translateX(0);
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #333;
}

.dropdown-menu ul li a:hover {
  color: #064D7E;
}

#icon {
  margin-right: 8px;
}

@media (max-width: 430px) {
  .header {
    height: 5vh;
    padding: 0.5rem;
  }

  .logo {
    margin-left: 0%;
  }

  .logo img {
    width: 43px;
    height: 43px;
  }

  .nav-links li{
    display: none;
  }

  .post-button {
    width: 20%;
  }

  #text {
    display: none;
  }

  #icon {
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 0;
  }
  
  .user-info {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }

  .user-info img {
    width: 43px;
    height: 43px;
  }

  .login-button {
    display: none;
  }

  .register-button {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

.notification-dropdown {
  position: absolute;
  right: 0;
  top: 90px; /* Điều chỉnh vị trí hiển thị */
  right: 100px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notification-dropdown ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.notification-dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

.notification-dropdown li:hover {
  background-color: #f0f0f0;
}