.home-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
}

.home-component p {
  color: #f0f0f0;
}

.home-component.coach-home {
  height: 60vh;
}

.custom-carousel {
  width: 100%;   
  height: 55vh;  /* Chiều cao 55% của viewport height */
  overflow: hidden;
}

.custom-carousel img {
  width: 100%;
  height: 100%; 
  object-fit: cover;  /* Giữ tỷ lệ và hình ảnh bao phủ toàn carousel */
}

/* Responsive cho mobile */
@media (max-width: 430px) {
  .home-component {
    height: 40vh;
  }

  .custom-carousel {
    height: 40vh;
  }

  .custom-carousel img {
    object-fit: cover; /* Đảm bảo ảnh phủ toàn bộ carousel */
  }
}
