.post-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.post-form h4 {
    margin-bottom: 20px;
}

.post-form .form-group {
    margin-bottom: 15px;
}

.post-form .form-control {
    border-radius: 20px;
    height: 40px;
}

.post-form .form-select {
    border-radius: 15px;
    height: 40px;
}

.post-form .row {
    margin-bottom: 20px;
}

.post-form .col {
    padding: 0px;
}

