.filter-container {
    background-color: #F0F0F0;
    /* Light background color */
    border-radius: 20px;
    /* Rounded corners for the container */
    padding: 1rem;
    /* Padding around the container */
    margin-left: 18rem;
    margin-right: 18rem;
}

.form-control,
.form-select {
    border-radius: 50px;
    /* Rounded input and select */
}

.form option {
    font-size: 14px;
}

.btn-search {
    border-radius: 20px;
    /* Rounded button */
    color: white;
    background-color: #2D70A1;
    width: 250px;
}

.btn-link {
    color: #007bff;
    /* Match the link color */
}

#btn-filter-mobile {
    display: none;
}

/* Media query cho màn hình nhỏ hơn 430px */
@media (max-width: 430px) {
    .filter-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .filter-container .form-control,
    .filter-container .form-select {
        width: 100%; /* Chiều rộng 100% cho các trường */
    }
    
    /* Giới hạn số dòng hiển thị */
    .filter-container .row {
        flex-direction: column; /* Sắp xếp các trường theo cột */
    }

    .detailed-filter .form-control-sm {
    width: 150px;
}

    #filter-web {
        display: none;
    }

    #btn-filter-mobile {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
